<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qly.mapper.CoinMapper">

	<!-- PAYMENTS 테이블: Merge(조건 확인 Update/Insert) -->
	<update id="updateInsertPayment">
		MERGE INTO PAYMENTS p
		USING DUAL
		ON (p.USER_ID = #{userId})
		WHEN MATCHED THEN
			UPDATE SET
				p.CURRENT_BALANCE = p.CURRENT_BALANCE + #{coinAmount},
				p.TOTAL_CHARGED = p.TOTAL_CHARGED + #{coinAmount},
				p.LAST_CHARGE_DATE = SYSDATE
		WHEN NOT MATCHED THEN
			INSERT (PAYMENT_ID, USER_ID, CURRENT_BALANCE, TOTAL_CHARGED, LAST_CHARGE_DATE)
			VALUES (PAYMENTS_SEQ.NEXTVAL, #{userId}, #{coinAmount}, #{coinAmount}, SYSDATE)
	</update>

	<!-- 현재 코인 잔액 -->
	<select id="getCurrentCoin" resultType="int">
		SELECT CURRENT_BALANCE FROM PAYMENTS WHERE USER_ID = #{userId}
	</select>

	<!-- COIN_HISTORY -->
	<insert id="insertCoinHistory">
		INSERT INTO COIN_HISTORY (HISTORY_ID, USER_ID, TRANSACTION_DATE, AMOUNT, REMAIN_COIN, TYPE, QUEST_ID)
		VALUES (COIN_HISTORY_SEQ.NEXTVAL, #{userId}, SYSDATE, #{amount}, #{remain}, #{type}, #{questId})
	</insert>

	<!-- PAYMENT_HISTORY -->
	<insert id="insertPaymentHistory">
		INSERT INTO PAYMENT_HISTORY (PAYMENT_HISTORY_ID, USER_ID, PAYMENT_DATE, AMOUNT, REMAIN_COIN, TYPE, STATUS)
		VALUES (PAYMENT_HISTORY_SEQ.NEXTVAL, #{userId}, SYSDATE, #{amount}, #{remain}, #{type}, '성공')
	</insert>

		<!-- === COIN_HISTORY === -->
	<!--  -->
	<select id="findAllCoinHistories" resultType="com.qly.vo.CoinHistoryVo">
		SELECT USER_ID, AMOUNT, REMAIN_COIN, TYPE, TRANSACTION_DATE, QUEST_ID
		FROM COIN_HISTORY
	</select>

	<select id="findCoinHistoriesByUserId" parameterType="int" resultType="com.qly.vo.CoinHistoryVo">
		SELECT USER_ID, AMOUNT, REMAIN_COIN, TYPE, TRANSACTION_DATE, QUEST_ID
		FROM COIN_HISTORY
		WHERE USER_ID = #{userId}
	</select>

	<!-- === PAYMENT_HISTORY === -->

	<select id="findAllPaymentHistories" resultType="com.qly.vo.PaymentHistoryVo">
		SELECT PAYMENT_HISTORY_ID, USER_ID, PAYMENT_DATE, AMOUNT, REMAIN_COIN, TYPE, STATUS
		FROM PAYMENT_HISTORY
	</select>

	<select id="findPaymentHistoriesByUserId" parameterType="int" resultType="com.qly.vo.PaymentHistoryVo">
		SELECT PAYMENT_HISTORY_ID, USER_ID, PAYMENT_DATE, AMOUNT, REMAIN_COIN, TYPE, STATUS
		FROM PAYMENT_HISTORY
		WHERE USER_ID = #{userId}
	</select>

	<!-- 유저의 코인 개수 변경. 이걸 실행하면 CoinHistoryAspect 가 실행되어야 함. -->
	<update id="updateUserCoinCount">
		UPDATE USERS
		SET COIN_COUNT = COIN_COUNT + #{coinAmount}
		WHERE USER_ID = #{userId}
	</update>

	<!-- 결제로 인한 유저의 코인 개수 변경. 이걸 실행하면 PaymentHistoryAspect 가 실행되어야 함. -->
	<update id="updateUserCoinCountWithPayment">
		UPDATE USERS
		SET COIN_COUNT = COIN_COUNT + #{coinAmount}
		WHERE USER_ID = #{userId}
	</update>
</mapper>

