<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qly.mapper.QuestMapper">

	<!-- <select id="getAllQuests" resultType="com.qly.dto.QuestDto"> SELECT 
		QUEST_ID, TITLE, CATEGORY, PHOTO_PATH, STATUS, REG_DATE, (SELECT COUNT(*) 
		FROM QUEST_APPLICATION qa WHERE qa.QUEST_ID = q.QUEST_ID) AS applicantCount 
		FROM QUESTS q ORDER BY CREATED_AT DESC </select> -->

	<select id="getAllQuests" resultType="com.qly.dto.QuestDto">
		SELECT
		QUEST_ID,
		USER_ID,
		TITLE,
		CATEGORY,
		CONTENT,
		PHOTO_PATH,
		STATUS,
		PROGRESS,
		LATITUDE,
		LONGITUDE,
		ADDRESS,
		LOCATION,
		START_DATE,
		END_DATE,
		CREATED_AT,
		VIEW_COUNT,
		REWARD_TOKENS,
		REG_DATE,
		(SELECT COUNT(*) FROM
		QUEST_APPLICATION qa WHERE
		qa.QUEST_ID = QUESTS.QUEST_ID) AS
		applicantCount
		FROM QUESTS
		ORDER BY
		CREATED_AT DESC
	</select>

	<insert id="insertQuest" parameterType="com.qly.dto.QuestDto"
		useGeneratedKeys="true" keyProperty="questId">
		INSERT INTO QUESTS (
		QUEST_ID, USER_ID, TITLE, CATEGORY, CONTENT, PHOTO_PATH,
		STATUS, PROGRESS, LATITUDE, LONGITUDE,
		ADDRESS, LOCATION, START_DATE, END_DATE, REWARD_TOKENS
		)
		VALUES (
		QUEST_SEQ.NEXTVAL, #{userId}, #{title}, #{category}, #{content}, #{photoPath},
		'대기', 0, #{latitude}, #{longitude},
		#{address}, #{location}, #{startDate}, #{endDate}, #{rewardTokens}
		)
	</insert>

	<insert id="insertQuestTask" parameterType="com.qly.dto.QuestTaskDto">
		INSERT INTO QUEST_TASK (
		TASK_ID, QUEST_ID, DESCRIPTION, IS_CHECKED
		)
		VALUES (
		QUEST_TASK_SEQ.NEXTVAL, #{questId}, #{description}, #{isChecked}
		)
	</insert>

	<insert id="insertUser" parameterType="com.qly.dto.UserDto">
		INSERT INTO USERS (
		USER_ID, USERNAME, PASSWORD, PHONE, ADDRESS, EMAIL, USER_TYPE
		) VALUES
		(
		#{userId},
		#{userName},
		#{password},
		#{phone},
		#{address},
		#{email},
		#{userType}
		)
	</insert>



</mapper>
