<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qly.mapper.QuestMapper">

	<!-- <select id="getAllQuests" resultType="com.qly.dto.QuestDto"> SELECT 
		QUEST_ID, TITLE, CATEGORY, PHOTO_PATH, STATUS, REG_DATE, (SELECT COUNT(*) 
		FROM QUEST_APPLICATION qa WHERE qa.QUEST_ID = q.QUEST_ID) AS applicantCount 
		FROM QUESTS q ORDER BY CREATED_AT DESC </select> -->

	<select id="getAllQuests" resultType="com.qly.dto.QuestDto">
		SELECT
		QUEST_ID AS questId,
		TITLE,
		CATEGORY,
		PHOTO_PATH AS photoPath,
		STATUS,
		REG_DATE,
		(SELECT
		COUNT(*)
		FROM
		QUEST_APPLICATION qa
		WHERE qa.QUEST_ID = q.QUEST_ID) AS
		applicantCount
		FROM QUESTS q
		ORDER BY REG_DATE DESC
	</select>


	<insert id="insertQuest" parameterType="com.qly.dto.QuestDto">
		<selectKey keyProperty="questId" order="BEFORE"
			resultType="int">
			SELECT QUESTS_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO QUESTS (
		QUEST_ID, USER_ID, TITLE, CATEGORY, CONTENT,
		PHOTO_PATH, STATUS, PROGRESS,
		LATITUDE, LONGITUDE, ADDRESS, LOCATION,
		START_DATE, END_DATE,
		REWARD_TOKENS
		) VALUES (
		#{questId,
		jdbcType=NUMERIC},
		#{userId, jdbcType=NUMERIC},
		#{title,
		jdbcType=VARCHAR},
		#{category,
		jdbcType=VARCHAR},
		#{content,
		jdbcType=CLOB},
		#{photoPath,
		jdbcType=VARCHAR},
		'대기',
		#{progress,
		jdbcType=NUMERIC},
		#{latitude,
		jdbcType=NUMERIC},
		#{longitude,
		jdbcType=NUMERIC},
		#{address,
		jdbcType=VARCHAR},
		#{location,
		jdbcType=VARCHAR},
		#{startDate,
		jdbcType=DATE},
		#{endDate,
		jdbcType=DATE},
		#{rewardTokens,
		jdbcType=NUMERIC}
		)
	</insert>

	<insert id="insertQuestApplication"
		parameterType="com.qly.dto.QuestDto">
		INSERT INTO QUEST_APPLICATION (
		APPLICATION_ID,
		QUEST_ID,
		USER_ID,
		STATUS,
		APPLIED_AT
		) VALUES (
		QUEST_APPLICATION_SEQ.NEXTVAL,
		#{questId},
		#{userId},
		#{status},
		#{appliedAt}
		)
	</insert>

	<select id="selectQuestById" parameterType="int"
		resultType="com.qly.dto.QuestDto">
		SELECT
		QUEST_ID AS questId,
		TITLE AS title,
		ADDRESS AS
		address,
		REWARD_TOKENS AS rewardTokens,
		PHOTO_PATH AS photoPath
		FROM
		QUESTS
		WHERE QUEST_ID = #{questId}
	</select>


	<insert id="insertUser" parameterType="com.qly.dto.UserDto">
		INSERT INTO USERS (
		USER_ID, USERNAME, PASSWORD, PHONE, ADDRESS, EMAIL, USER_TYPE
		) VALUES
		(
		#{userId},
		#{username},
		#{password},
		#{phone},
		#{address},
		#{email},
		#{userType}
		)
	</insert>

	<select id="QuestTaskDto" resultType="com.qly.dto.QuestTaskDto">
		SELECT * FROM QUEST_TASK WHERE QUEST_ID = #{questId}
	</select>

	<select id="getQuestUserId" resultType="com.qly.dto.QuestDto">
		SELECT *
		FROM QUESTS
		WHERE USER_ID = #{userId}
		ORDER BY CREATED_AT DESC
	</select>




</mapper>
