<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="questdto" type="com.qly.dto.QuestDto" />
		<typeAlias alias="Userdto" type="com.qly.dto.QuestDto" />
	</typeAliases>

	<mappers>
		<mapper resource="mappers/QuestMapper.xml" />
	</mappers>


</configuration>
